.searchbar {
  padding: 15px;
}

.wrapper {
    position: relative;
    display: flex;
    min-width: 100px;
  }
  
  .search {
    border: 1px solid rgb(192, 192, 192);
    border-radius: 5px;
    height: 25px;
    width: 100%;
    padding: 2px 23px 2px 30px;
    outline: 0;
  }
  
  .search-icon {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 14px;
    color: rgb(192, 192, 192);
  }
  
  .search:hover, .search:focus {
    border: 1px solid #009688;
    background-color: white;
  }
  